name: Hourly Weather Report

on:
  schedule:
    - cron: '* * * * *'
  workflow_dispatch:

jobs:
  send-weather:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Send Weather
        env:
          BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: bash scripts/send-weather.sh
